@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoText {
    @apply p-2.5 bg-gray-700/50 rounded-lg;
  }

  .chatRow {
    @apply rounded-lg  py-3 px-2 text-sm flex items-start justify-center space-x-1.5 hover:bg-gray-700/70 cursor-pointer text-gray-300 transition-all duration-200 ease-out;
  }
}

/* bg-gray-700/10 to add backgrounds back to chatrow buttons pre hover */

html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
}

.library {
  background-image: url("https://i.imgur.com/VIlxqHB.jpg");
}

/*  below section is to edit the html that the chat bot will dynamically create, cant do it with tailwind */

.markdown img,
video {
  margin-right: 20px;
  margin-top: 10px;
  object-fit: contain;
  height: auto;
  margin-left: -40px;
}

.markdown {
  width: 100% !important;
}
.markdown a {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  max-width: 100%;

  /* max-width: 90%; */
}

.markdown p {
  margin-bottom: 0.5em;
  padding-right: 1rem;
  max-width: 100%;
}

.markdown ul {
  margin-bottom: 1em;
  max-width: 100%;

  /* max-width: 90%; */
}

.markdown ol {
  margin-bottom: 1em;
  max-width: 100%;
  margin-right: 0.25em;

  /* max-width: 90%; */
}

.markdown li {
  margin-left: 0.25em;
  margin-right: 0.25em;
  max-width: 100%;
  list-style-type: square;
}

input {
  width: 100%;
}

.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
}

.chatBox {
  -webkit-overflow-scrolling: touch;
}

.chatBox::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
  border-radius: 20px;
}
.chatBox::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* Foreground */
  background: #20212342;
}
.chatBox::-webkit-scrollbar-track {
  /* Background */
  border-radius: 20px;
  background: #434654;
}

.chatSelectScroll {
  -webkit-overflow-scrolling: touch;
  border-radius: 20px;
}

.chatSelectScroll::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.chatSelectScroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* Foreground */
  background: #43465474;
}
.chatSelectScroll::-webkit-scrollbar-track {
  border-radius: 20px;
  /* Background */
  background: #20212342;
}
.faqScroll::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.faqScroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* Foreground */
  background: #20212342;
}
.faqScroll::-webkit-scrollbar-track {
  border-radius: 20px;
  /* Background */
  background: #434654;
}

.faqScroll {
  max-height: 100%;
}

code {
  background: #000000;
  border: 1px solid #ddd;
  color: #ffffff;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-left: -50px;
  margin-right: 15px;
  margin-bottom: 1.6em;
  margin-top: 0.8em;
  /* width: 95%; */
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  overflow-x: auto;
  overflow-y: hide;
}

/* below adds labels above the code blocks */

code::before {
  content: attr(class);
  background-color: #000000;
  /* border: 1px solid #ddd; */
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;

  color: white;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: -0.75rem;
  left: 0.94rem;
}

pre {
  position: relative;
  margin-top: 1rem;
}

.wrapper {
  position: relative;
}

.hamburger-item:hover + .hiddenMouseOver {
  opacity: 1;
}

.hiddenMouseOver {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 75px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
  transition: opacity 0.2s ease-in-out;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.333);
  border-radius: 10px;
  max-height: 100%;
  text-shadow: -1px -1px 0 #434654, 1px -1px 0 #434654, -1px 1px 0 #434654,
    1px 1px 0 #434654;
}

.hamburger-item:hover + .hiddenMouseOver {
  opacity: 1;
  transition-delay: 0.3s;
}

/* -------------------------- */
.overlay-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.overlay-loader .loader-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2c4762;
  -webkit-transition: background-color 0.2s 0s linear, right 0.2s 0.3s ease-out;
  -moz-transition: background-color 0.2s 0s linear, right 0.2s 0.3s ease-out;
  -ms-transition: background-color 0.2s 0s linear, right 0.2s 0.3s ease-out;
  -o-transition: background-color 0.2s 0s linear, right 0.2s 0.3s ease-out;
  transition: background-color 0.2s 0s linear, right 0.2s 0.3s ease-out;
}

.overlay-loader .loader-background.color-flip {
  -webkit-animation: color-flip 6.5s 0.6s infinite linear;
  -moz-animation: color-flip 6.5s 0.6s infinite linear;
  -ms-animation: color-flip 6.5s 0.6s infinite linear;
  -o-animation: color-flip 6.5s 0.6s infinite linear;
  animation: color-flip 6.5s 0.6s infinite linear;
}

@-webkit-keyframes color-flip {
  0% {
    background-color: #2c4762;
  }
  18% {
    background-color: #2c4762;
  }
  20% {
    background-color: #a77dc2;
  }
  38% {
    background-color: #a77dc2;
  }
  40% {
    background-color: #4aa8d8;
  }
  58% {
    background-color: #4aa8d8;
  }
  60% {
    background-color: #56bc8a;
  }
  78% {
    background-color: #56bc8a;
  }
  80% {
    background-color: #d95e40;
  }
  98% {
    background-color: #d95e40;
  }
  100% {
    background-color: #2c4762;
  }
}

@-moz-keyframes color-flip {
  0% {
    background-color: #2c4762;
  }
  18% {
    background-color: #2c4762;
  }
  20% {
    background-color: #a77dc2;
  }
  38% {
    background-color: #a77dc2;
  }
  40% {
    background-color: #4aa8d8;
  }
  58% {
    background-color: #4aa8d8;
  }
  60% {
    background-color: #56bc8a;
  }
  78% {
    background-color: #56bc8a;
  }
  80% {
    background-color: #d95e40;
  }
  98% {
    background-color: #d95e40;
  }
  100% {
    background-color: #2c4762;
  }
}

@-o-keyframes color-flip {
  0% {
    background-color: #2c4762;
  }
  18% {
    background-color: #2c4762;
  }
  20% {
    background-color: #a77dc2;
  }
  38% {
    background-color: #a77dc2;
  }
  40% {
    background-color: #4aa8d8;
  }
  58% {
    background-color: #4aa8d8;
  }
  60% {
    background-color: #56bc8a;
  }
  78% {
    background-color: #56bc8a;
  }
  80% {
    background-color: #d95e40;
  }
  98% {
    background-color: #d95e40;
  }
  100% {
    background-color: #2c4762;
  }
}

@keyframes color-flip {
  0% {
    background-color: #2c4762;
  }
  18% {
    background-color: #2c4762;
  }
  20% {
    background-color: #a77dc2;
  }
  38% {
    background-color: #a77dc2;
  }
  40% {
    background-color: #4aa8d8;
  }
  58% {
    background-color: #4aa8d8;
  }
  60% {
    background-color: #56bc8a;
  }
  78% {
    background-color: #56bc8a;
  }
  80% {
    background-color: #d95e40;
  }
  98% {
    background-color: #d95e40;
  }
  100% {
    background-color: #2c4762;
  }
}

.overlay-loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -48px 0 0 -48px;
  font-size: 96px;
  color: #fff;
}

.overlay-loader .loader-icon.spinning-cog {
  -webkit-animation: spinning-cog 1.3s infinite ease;
  -moz-animation: spinning-cog 1.3s infinite ease;
  -ms-animation: spinning-cog 1.3s infinite ease;
  -o-animation: spinning-cog 1.3s infinite ease;
  animation: spinning-cog 1.3s infinite ease;
}

@-webkit-keyframes spinning-cog {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinning-cog {
  0% {
    -moz-transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spinning-cog {
  0% {
    -o-transform: rotate(0deg);
  }
  20% {
    -o-transform: rotate(-45deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes spinning-cog {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes shrinking-cog {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
  }
}

@-moz-keyframes shrinking-cog {
  0% {
    -moz-transform: scale(1);
  }
  20% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(0);
  }
}

@-o-keyframes shrinking-cog {
  0% {
    -o-transform: scale(1);
  }
  20% {
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(0);
  }
}

@keyframes shrinking-cog {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.overlay-loader .loader-icon.shrinking-cog {
  -webkit-animation: shrinking-cog 0.3s 1 ease forwards;
  -moz-animation: shrinking-cog 0.3s 1 ease forwards;
  -ms-animation: shrinking-cog 0.3s 1 ease forwards;
  -o-animation: shrinking-cog 0.3s 1 ease forwards;
  animation: shrinking-cog 0.3s 1 ease forwards;
}
